body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-areas:
  'nav nav nav'
  'left center right';

  grid-template-rows: 1fr 6fr;
  grid-template-columns: 1fr 4fr 1fr;

  width: 100vw;
  height: calc(100vh - 20px);

  grid-gap: 20px;
}

.sub-container {
  height: 100%;
  width: 100%;

  border-radius: 4px;
}

#container-nav {
  background-color: #E01129;
  border-radius: 0 !important;
}

#container-text {
  background-color: gray;

  display: grid;
  grid-template-areas:
  'text'
  'action';

  grid-template-rows: 6fr 1fr;
  grid-template-columns: 1fr;
}

#container-sel {
  background-color: #D9D9D9;
  width: calc(100% - 20px);
}

.sub-subcontainer {
  height: 100%;
  width: 100%;
}

#action-space {
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  padding-top: 20px;
}

/* #action-space > p {
  text-align: center;
} */

.page-button {
  background-color: #F05365;
  padding: 10px 30px;
  color: white;
  font-size: 24px;
  font-weight: bold;

  border: none;
  border-right-style: solid;
  border-bottom-style: solid;

  border-right-color: black;
  border-bottom-color: black;

  border-right-width: 2px;
  border-bottom-width: 2px;

  border-radius: 8px;

  cursor: pointer;
  opacity: 75%;
  transition-duration: 0.75s;
}

.page-button:hover {
  opacity: 100%;
  transition-duration: 0.75s;
}

#page-button-left {
  float: left;
}

#page-button-right {
  float: right;
}

#text-space {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;

  overflow-y: auto;
}

.text-bubble {
  margin-bottom: 20px;
}

.text-bubble-center {
  width: 100%;
  text-align: center;
}

.text-bubble-right {
  text-align: right;
}

.text-bubble-txt, .text-bubble-img {
  display: inline-block;
  vertical-align: top;
}

.text-bubble-img {
  width: 4vw;
  height: 4vw;

  background-color: lightgray;
  border-radius: 8px;
  border-style: solid;

  border-bottom-width: 2px;
}

.text-bubble-txt {
  background-color: white;
  border-radius: 8px;
  border-style: solid;

  border-bottom-width: 2px;

  padding-left: 10px;
  padding-right: 10px;

  font-size: 16px;
}

.text-bubble-txt > p:nth-child(1) {
  font-weight: bolder;
  font-size: 14px;
  text-transform: uppercase;
}

#default-text-bubble-left, #default-text-bubble-center, #default-text-bubble-right {
  display: none;
}

/* Scroll Bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
