body {
  margin: 0;
  padding: 0;

  background-image: url("/static/images/Home_Page.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: grid;
  grid-template-areas:
  'nav nav nav'
  'left center right';

  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr 4fr 1fr;

  width: 100vw;
  height: calc(100vh - 20px);

  grid-gap: 20px;
}

.sub-container {
  height: 100%;
  width: 100%;

  border-radius: 4px;
}

#container-nav {
  position: relative;
}

#app-logo {
  height: 3vw;

  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -30%);
  transform: translate(-50%, -30%);
}

#container-text {
  background-color: gray;

  display: grid;
  grid-template-areas:
  'text'
  'action';

  grid-template-rows: 4fr 1fr;
  grid-template-columns: 1fr;

  position: relative;

  border-radius: 16px;

  background-size: cover;
  background-repeat: no-repeat;
}

#container-text-deco {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  z-index: -1;
}

#container-sel {
  background-image: url("/static/images/Menu.png");
  background-repeat: no-repeat;
  background-size: auto;

  width: auto;
  height: calc(100% - 80px);

  padding-top: 80px;
  overflow-y: scroll;
}

.sub-subcontainer {
  height: 100%;
  width: 100%;
}

#action-space {
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  padding-top: 20px;
}

#action-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

/* #action-space > p {
  text-align: center;
} */

.page-button {
  width: 8vw;
  height: 2vw;

  cursor: pointer;
  opacity: 75%;
  transition-duration: 0.75s;
}

.page-button:hover {
  opacity: 100%;
  transition-duration: 0.75s;
}

#page-button-left {
  float: left;

  background-image: url("/static/images/Leftarrow.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#page-button-right {
  float: right;

  background-image: url("/static/images/Rightarrow.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#page-button-custom {
  text-align: center;

  width: 2.5vw;
  height: 2.5vw;

  background-image: url("/static/images/Book.png");
  background-repeat: no-repeat;
  background-size: cover;

  cursor: pointer;
  opacity: 75%;
  transition-duration: 0.75s;
}

#page-button-custom:hover {
  opacity: 100%;
  transition-duration: 0.75s;
}

#page-progress {
  margin-top: 10px;

  width: 100%;
  height: 2vw;

  background-image: url("/static/images/Progress-Bar.png");
  background-repeat: no-repeat;
  background-size: auto;
}

#text-space {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;

  overflow-y: auto;
}

.text-bubble {
  margin-bottom: 20px;

  opacity: 75%;
}

.text-bubble:hover {
  opacity: 100%;
}

.text-bubble-center {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.text-bubble-right {
  text-align: right;
}

.text-bubble-txt, .text-bubble-img {
  display: inline-block;
  vertical-align: top;
}

.text-bubble-img {
  width: 4vw;
  height: 4vw;

  background-color: lightgray;
  border-radius: 8px;
  border-style: solid;

  border-bottom-width: 2px;
}

.text-bubble-txt {
  background-color: white;
  border-radius: 8px;
  border-style: solid;

  border-bottom-width: 2px;

  padding-left: 10px;
  padding-right: 10px;

  font-size: 20px;
}

.text-bubble-left > .text-bubble-txt {
  max-width: 75%;
}

.text-bubble-right > .text-bubble-txt {
  max-width: 75%;
}

.text-bubble-txt > p:nth-child(1) {
  font-weight: bolder;
  font-size: 14px;
  text-transform: uppercase;
}

#default-text-bubble-left, #default-text-bubble-center, #default-text-bubble-right {
  display: none;
}

#return-button {
  width: calc(100% - 20px);
  height: 4vh;

  background-color: #E01129;
  color: white;
  text-align: center;
  font-weight: bolder;
  font-size: 24px;

  border: none;
  border-radius: 8px;

  float: right;

  border-bottom: solid;
  border-right: solid;

  border-bottom-style: solid;
  border-right-style: solid;

  border-bottom-color: darkred;
  border-right-color: darkred;

  border-bottom-width: 4px;
  border-right-width: 4px;

  cursor: pointer;
  opacity: 75%;
}

#return-button:hover {
  border: none;
  opacity: 100%;
}

#send-message {
  width: 15vw;
  float: right;

  position: absolute;
  left: 20px;
  bottom: 20px;
}

#send-message > textarea {
  width: calc(100% - 10px);
  font-size: 18px;
  height: 10vh;
}

#send-message > button {
  background-color: green;
  color: white;
  border-radius: 4px;

  margin-left: auto;
  margin-right: 0;

  text-align: right;

  cursor: pointer;
}

#char-icon {
  position: absolute;
  left: 20px;
  bottom: calc(20px + 10vh + 30px);

  height: 60vh;
  width: 15vw;

  background-image: url("/static/images/Narrator.png");
  background-repeat: no-repeat;
  background-size: auto;
}

.char-selection {
  background-image: url("/static/images/Nametag.png");
  background-repeat: no-repeat;
  background-size: auto;

  width: 80%;
  height: 9vh;

  margin-bottom: 10px;

  position: relative;
  margin-left: auto;
  margin-right: auto;

  display: none;
  cursor: pointer;
}

.char-selection > div {
  position: absolute;
  left: 3vh;
  top: 1.5vh;
}

.char-selection > div > div {
  width: 4vh;
  height: 4vh;

  border-radius: 100%;

  display: inline-block;
  vertical-align: middle;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/static/images/Narrator.png");
}

.char-selection > div > p {
  display: inline-block;
  color: white;
  font-size: 18px;

  margin-left: 4px;

  vertical-align: middle;
}

/* Scroll Bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
